# Virtual environments
venv/
.venv/

# IDE
.idea/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Secrets / credentials
credentials.json
service_account.json

# Local data (input)
data/input/*
!data/input/products.csv
!data/input/.gitkeep

# Local data (output)
data/output/*
!data/output/.gitkeep

# Logs
logs/*
!logs/.gitkeep

secrets/
*.json
